<!doctype html>
<html lang="en">

    <head>{% load static %}
        
        <meta charset="utf-8" >
        <title>Register | Skote - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" >
        <meta content="Themesbrand" name="author" >
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/logo/logo3.png' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" >
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" >

        <link href="{% static 'assets/css/custom.css' %}"  rel="stylesheet" type="text/css" >

        <link href="{% static 'assets/css/custom1.css' %}"  rel="stylesheet" type="text/css" >

    </head>

    <body>
        
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Free Register</h5>
                                            <p>Get your free SalesTM account now.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'Home' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'assets/images/logo/logo2.png' %}" alt=""  height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    
            
                                        <form action="{% url 'Signup' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

                                        
                                            
                                               
                                            

                                            

                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="name" required>
                                                <label class="form-control-placeholder">Name</label>
                                            </div>
    
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="house" required >
                                                <label class="form-control-placeholder" for="name">House</label>
                                            </div>
    
                                            <div class="form-group mt-5">
                                                <input type="number"  class="form-control input" name="pincode"  required>
                                                <label class="form-control-placeholder" >Pin code</label>
                                            </div>
                                            <label class="form-label">Location</label>
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="locality" required>
                                                <label class="form-control-placeholder" >Locality/Landmark</label>
                                            </div>
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="post" required >
                                                <label class="form-control-placeholder">Post</label>
                                            </div>
    
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="district" required >
                                                <label class="form-control-placeholder" for="name">District</label>
                                            </div>
    
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="state" required >
                                                <label class="form-control-placeholder" >State</label>
                                            </div>

                                            <label class="form-label">Location</label>
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input" name="credentials" required>
                                                <label class="form-control-placeholder" >Credentials</label>
                                            </div>
                                            <div class="form-group mt-5">
                                                <input type="text"  class="form-control input"  name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="email" required>
                                                <label class="form-control-placeholder">Email</label>
                                            </div>

                                            
    
                                            <div class="form-group mt-5">
                                                <input type="password"  class="form-control input" name="password" required>
                                                <label class="form-control-placeholder" for="name">Password</label>
                                            </div>
                                            <div class="form-group mt-5 sub1">
                                                <button class="btn btn-info form-control  " type="submit"  >Submit</button>
                                            </div>
                                            
                                        </form>

                                        <div class="mt-4 text-center">
                                            <h5 class="font-size-14 mb-3">Sign up using</h5>
            
                                            <ul class="list-inline">
                                               
                                                <li class="list-inline-item">
                                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-list-item bg-danger text-white border-danger">
                                                        <i class="mdi mdi-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                
                                        <div class="mt-4 text-center">
                                            <p class="mb-0">By registering you agree to the FuelTM <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <div>
                                <p>Already have an account ? <a href="{% url 'Login' %}" class="fw-medium text-primary"> Login</a> </p>
                                <p>© <script>document.write(new Date().getFullYear())</script> FuelTM. Developed by  <a href="https://cabaltechnologies.com/">Cabal Technologies</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- validation init -->
        <script src="{% static 'assets/js/pages/validation.init.js' %}"></script>
        
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>


        
<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    //static/js/script.js
$(document).ready(function(){
  $("#email").change(function () {
    var email = $(this).val();

    $.ajax({
      url: 'sinupemail_valid',
      data: {
        'email': email
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("Email already exists.");
        }
      }
    });

  });
});

</script> -->


    </body>
</html>
